#education {
    display: none;
    position: absolute;
    top: 35%;
    left: 24%;
    width: 24%;
    height: 40%;
    border: 2px solid black;
    padding: 2%;
    margin: 2%;
    background-image: url("images/education/thumbnail.png");
    background-size: cover;
}

#education:hover + #educationTitle {
    display: block;
    position: absolute;
    top: 27%;
    left: 3%;
    font-size: 180%;
}

#educationTitle {
    display: none;
}

#educationSection {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-size: cover;
}

/*Inside the education section*/

#diploma {
    position: absolute;
    width: 30%;
    height: 30%;
    left: 35%;
    top: 10%;
}

#universityHat {
    position: absolute;
    width: 30%;
    height: 30%;
    top: 60%;
    left: 35%;
}

#diploma:hover,
#universityHat:hover {
    border: 5px solid blue;
    margin: 0;
    cursor: pointer;
}