#profile {
    position: absolute;
    top: 3%;
    left: 3%;
    width: 10%;
    height: 17%;
    border-radius: 50%;
    background-size: cover;
    z-index: 3;
}

/* Get rid of hover effect */
#profile.noHover {
    display: none;
}

#profile:hover + #profileText {
    display: block;
    position: absolute;
    top: 27%;
    left: 3%;
    font-size: 180%;
    white-space: nowrap;
}

#profileText {
    display: none;
}

#profile.noHoverIcon,
#profile.noHoverIcon:hover {
    pointer-events: none;
    border: none;
}

/*Inside the profile section*/

#aboutMe {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-image: url("images/aboutMe/myPage.png");
    background-size: cover;
}

#profileDiv {
    position: absolute;
    top: 20.3%;
    height: 20%;
    width: 27.7%;
}

#interest {
    position: absolute;
    top: 40.3%;
    height: 20%;
    width: 27.7%;
}

#hobbies {
    position: absolute;
    top: 60.3%;
    height: 20%;
    width: 27.7%;
}

#contact {
    position: absolute;
    top: 80.2%;
    height: 20%;
    width: 27.7%;
}

#profileDiv:hover,
#interest:hover,
#hobbies:hover,
#contact:hover {
    cursor: pointer;
    padding: 3%;
    border: 5px solid blue;
}

#image {
    position: absolute;
    top: 20.3%;
    left: 27.8%;
    height: 79.5%;
    width: 72.1%;
    background-size: contain;
}

#phoneNumber {
    display: none;
    position: absolute;
    top: 33%;
    left: 50%;
    height: 13%;
    width: 23%;
    z-index: 5;
    background-size: contain;
}

#phoneNumber:hover {
    cursor: pointer;
    background-image: url("images/aboutMe/phoneNumber.png");
    background-position: center;
    background-repeat: no-repeat;
}

#email {
    display: none;
    position: absolute;
    top: 46.8%;
    left: 49%;
    height: 13%;
    width: 37%;
    z-index: 5;
    background-size: contain;
}

#email:hover {
    cursor: pointer;
    background-image: url("images/aboutMe/email.png");
    background-position: center;
    background-repeat: no-repeat;
}

#linkedin {
    display: none;
    position: absolute;
    bottom: 26.5%;
    left: 49%;
    height: 13%;
    width: 14%;
    z-index: 5;
    background-size: contain;
}

#linkedin:hover {
    cursor: pointer;
    background-image: url("images/aboutMe/linkedin.png");
    background-position: center;
    background-repeat: no-repeat;
}

#github {
    display: none;
    position: absolute;
    bottom: 13%;
    left: 49%;
    height: 12%;
    width: 14%;
    z-index: 5;
    background-size: contain;
}

#github:hover {
    cursor: pointer;
    background-image: url("images/aboutMe/github.png");
    background-position: center;
    background-repeat: no-repeat;
}