#projects {
    display: none;
    position: absolute;
    top: 35%;
    left: 48%;
    width: 24%;
    height: 40%;
    border: 2px solid black;
    padding: 2%;
    margin: 2%;
    background-image: url("images/projects/thumbnail.png");
    background-size: cover;
}

#projects:hover + #projectsTitle {
    display: block;
    position: absolute;
    top: 27%;
    left: 3%;
    font-size: 180%;
}

#projectsTitle {
    display: none;
}

#projectsSection {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-image: url("images/projects/projectHome.png");
    background-size: cover;
}